
@{
}
<head>

    <link rel="stylesheet" href="../assets/css/loginstyle.css" />

</head>
<section id="banner">
    <div id="page-wrapper">
        <div class="container">
            
            <!--FORMULÁRIO DE CADASTRO-->
                <div class="container">
                    <div class="content">
                        <div id="cadastro">
                            <form method="post" action="">
                                <h1>Cadastre-se</h1>
                
                                <p>
                                    <label for="nome_cad">Seu nome</label>
                                    <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Nome Completo" />
                                </p>
                
                                <p>
                                    <label for="email_cad">Seu e-mail</label>
                                    <input id="email_cad" name="email_cad" required="required" type="email" placeholder="email@htmlecsspro.com" />
                                </p>
                
                                <p>
                                    <label for="senha_cad">Sua senha</label>
                                    <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="senha" />
                                </p>
                                <p>
                                    <label for="senha_conf">Confirme sua senha</label>
                                    <input id="senha_conf" name="senha_conf" required="required" type="password" placeholder="repita sua senha" />
                                </p>
                                <p>
                                    <input type="submit" value="Cadastrar" />
                                </p>
                
                                <p class="link">
                                    Já tem conta?
                                    <a href="login.html"> Entrar </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
</section>