

@{
    Layout = "_layout_alimentacao";
}
@{
	ViewData["Title"] = "Grupos Alimentares";
}

<head>
    <link rel="stylesheet" type="text/css" media="all" href="~/dist/css/main.min.css">
</head>

<section class="container-fluid " id="alimente-se-bem">
	<div class="container" id="content">
		
		<div class="kachimeshi-grupos-alimentares space-h-30">
			<h2 class="text-center">Grupos alimentares</h2>
			<p class="text-center space-h-20 text-italic">
				Os alimentos podem ser divididos em 7 grupos alimentares com nutrientes específicos em cada um
				deles:
			</p>

			<!-- Cereais e Tubérculos -->
			<div class="grupo-alimentar cereais-tuberculos" id="cereais-e-tuberculos">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="Cereais e Tubérculos" />
				</figure>
				<h3 class="text-color-1">Cereais e Tubérculos</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-1">
					<p>
						São fontes principalmente de carboidratos e fornecem energia para o corpo. Também são
						fontes de fibras, vitaminas, principalmente complexo B e minerais. Devem ser consumidos
						em maior quantidade na alimentação.
					</p>
					<p>
						Sempre que possível, prefira as versões integrais desses alimentos, pois contêm maior
						quantidade de fibras e ajudam a manter a saciedade por mais tempo.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: arroz, milho, pão, macarrão, aveia, mandioca, batata,
							batata-doce, mandioquinha, cará e inhame.
						</strong>
					</p>
				</div>
			</div>

			<!-- Leguminosas e Oleaginosas -->
			<div class="grupo-alimentar leguminosas-oleaginosas" id="leguminosas-e-oleoaginosas">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="Leguminosas e Oleaginosas"
						 title="Leguminosas e Oleaginosas" />
				</figure>
				<h3 class="text-color-2">Leguminosas e Oleaginosas</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-2">
					<p>
						As <strong>leguminosas</strong> são vegetais fontes de proteínas. As
						<strong>oleaginosas</strong> fornecem gorduras boas. Ambas contêm fibras, vitaminas e
						minerais essenciais e ajudam a manter a saciedade por mais tempo.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: feijões, lentilha, ervilha e grão-de-bico,
							castanha-do-pará, castanha de caju, nozes, amêndoas, amendoim, etc.
						</strong>
					</p>
				</div>
			</div>

			<!-- Carnes e Ovos -->
			<div class="grupo-alimentar carnes-ovos" id="carnes-e-ovos">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="Carnes e Ovos" title="Carnes e Ovos" />
				</figure>
				<h3 class="text-color-3">Carnes e Ovos</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-3">
					<p>
						São alimentos ricos em proteínas. Sempre que possível, ao consumir carnes, preferir os
						cortes mais magros.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: carne bovina, carne suína, frango, peixe, ovos,
							etc.
						</strong>
					</p>
				</div>
			</div>

			<!-- Leites e derivados -->
			<div class="grupo-alimentar leite-derivados" id="leites-e-derivados">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="Leites e derivados"
						 title="Leites e derivados" />
				</figure>
				<h3 class="text-color-4">Leites e derivados</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-4">
					<p>
						São fontes de proteínas, vitaminas, como a vitamina A e minerais, principalmente o
						Cálcio. Leites integrais e queijos mais amarelos tem maior quantidade de gordura e devem
						ser consumidos com moderação.
					</p>
					<p>
						<strong>Pertencem a esse grupo: leite, iogurte, coalhadas e queijos.</strong>
					</p>
				</div>
			</div>

			<!-- VERDURAS E LEGUMES -->
			<div class="grupo-alimentar verduras-legumes" id="verduras-e-legumes">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="VERDURAS E LEGUMES"
						 title="VERDURAS E LEGUMES" />
				</figure>
				<h3 class="text-color-5">VERDURAS E LEGUMES</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-5">
					<p>
						São alimentos que fornecem fibras, vitaminas e minerais e devem ser consumidos de 2 a 3
						vezes por dia.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: alface, couve, acelga, agrião, rúcula, almeirão,
							abobora, abobrinha, berinjela, chuchu, tomate, cenoura, beterraba, pepino, pimentão,
							etc.
						</strong>

					</p>
				</div>
			</div>

			<!-- FRUTAS -->
			<div class="grupo-alimentar frutas" id="frutas">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="FRUTAS" title="FRUTAS" />
				</figure>
				<h3 class="text-color-6">FRUTAS</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-6">
					<p>
						Fornecem principalmente fibras, vitaminas e minerais. Sugere-se consumir cerca de 3
						vezes por dia, sendo pelo menos umas delas fonte de vitamina C.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: banana, maça, uva, pera, manga, caqui, carambola,
							abacaxi, etc. São exemplos de frutas fonte de vitamina C: laranja, limão, maracujá,
							tangerina, mamão e goiaba.
						</strong>
					</p>
				</div>
			</div>

			<!-- Açúcar, sal e gorduras -->
			<div class="grupo-alimentar acucar-sal-gorduras" id="acucar-sal-e-gorduras">
				<figure>
					<img src="~/dist/images/template/blank.gif" alt="Açúcar, sal e gorduras"
						 title="Açúcar, sal e gorduras" />
				</figure>
				<h3 class="text-color-7">Açúcar, sal e gorduras</h3>
				<a class="grupo-alimentar-btn">conhecer grupo</a>
				<div class="grupo-alimentar-content bg-color-7">
					<p>
						Sal e gorduras são utilizados para agregar mais sabor à comida. O açúcar pode ser
						adicionado ou estar presente em doces. Esses alimentos devem ser consumidos com
						moderação.
					</p>
					<p>
						<strong>
							Pertencem a esse grupo: manteiga, óleos, azeite de oliva, sal, açúcar, doces,
							etc.
						</strong>
					</p>
				</div>
			</div>
		</div>		

		<div class="space-h-30 text-center">
			<a asp-controller="Home" asp-action="Index" class="button fit">VOLTAR</a>
		</div>

	</div>
</section>

<body>
	<script src="~/dist/js/jquery.min.js"></script>
	<script src="~/dist/js/jquery.fancybox.min.js"></script>
	<script src="~/dist/js/main.min.js"></script>

	<script>
		function goBack() {
			window.history.back();
		}
		$(document).ready(function () {

			function hastScroll() {
				var hash = window.location.hash;
				var elementOffset = $(hash).offset().top;

				$('html, body').animate({
					scrollTop: parseInt(elementOffset - 60)
				}, 2000);
			}

			$('.grupo-alimentar').unbind('click').on('click', function (e) {
				e.preventDefault();
				var boxItem = $('.grupo-alimentar-content');
				if ($(this).find(boxItem).hasClass('open')) {
					$(this).removeClass('open');
					$(this).find(boxItem).removeClass('open');
					$(this).removeClass('hover');
				} else {
					$(this).addClass('open');
					$(this).find('.grupo-alimentar-content').addClass('open');
					$(this).addClass('hover');
				}
			});

			hastScroll();
		});

	</script>


</body>