@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Wrapper -->
<div id="page-wrapper">
	
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Hábito Saudável</h2>
			<p>
				A sincronia entre mente e corpo é o caminho<br /> para uma saúde plena e uma vida equilibrada.
			</p>
			<ul class="actions special">
				<li><a asp-controller="Admin" asp-action="Login" class="button primary">Conecte-se</a></li>
			</ul>
		</div>
		<a href="#one" class="more scrolly">Continue</a>
	</section>

	<!-- One -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="images/pic01.jpg" alt="" /></div>
			<div class="content">
				<div>
					<h2 class="card-format"> Receitas equilibradas</h2>
					<h4>
						Veja receitas práticas, saborosas e equilibradas para os vários momentos do dia.
					</h4>
					<a asp-controller="Alimentacao" asp-action="Receitas" class="button fit">IR PARA RECEITAS</a>
				</div>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic02.jpg" alt="" /></div>
			<div class="content">
				<h2 class="card-format">Grupos Alimentares</h2>
				<h4>
					Os alimentos podem ser divididos em 7 grupos alimentares com nutrientes específicos em cada um
					deles.
				</h4>
				<a asp-controller="Alimentacao" asp-action="Grupos" class="button fit">SAIBA MAIS</a>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic03.jpg" alt="" /></div>
			<div class="content">

				<h2>Refeições equilibradas</h2>

				<h4>
					Como montar refeições equilibradas para seu almoço e jantar
				</h4>
				<a asp-controller="Alimentacao" asp-action="Refeicoes" class="button fit">SAIBA COMO</a>
			</div>
		</section>
	</section>

	<!-- Two -->	
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>Seu esforço de hoje é o seu resultado de amanhã.</h2>
				<p>
					Monitora sua meta de calorias diárias, de acordo com o seu peso, altura, idade, sexo e nível de
					atividade física, com sugestões de pratos personalizados para seus objetivos..
				</p>
			</header>
			<ul class="icons major">
				<li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
				<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
				<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<div class="title space-h-20">
					<h1 class="text-center text-red">Calculadoras Nutricionais</h1>
					<p class="space-h-20">
						Monitore sua meta de calorias diárias, de acordo com o seu peso, altura, idade, sexo e nível de
						atividade física.
					</p>
				</div>
			</header>
		
			<ul class="features">
				<li class="icon fa-paper-plane">
					<h2 class="card-format">
						<a asp-area="" asp-controller="Calculadora" asp-action="IMC">CALCULADORA IMC</a>
					</h2>
				</li>
				<li class="icon solid fa-laptop">
					<h2 class="card-format">
						<a asp-area="" asp-controller="Calculadora" asp-action="TMB">CALCULADORA TMB</a>
					</h2>
				</li>
				<li class="icon solid fa-code">
					<h2 class="card-format">
						<a asp-area="" asp-controller="Calculadora" asp-action="FAT">CALCULADORA FAT</a>
					</h2>
				</li>
				<li class="icon solid fa-headphones-alt">
					<h2 class="card-format">
						<a asp-area="" asp-controller="Calculadora" asp-action="GET">CALCULADORA GET/VET</a>
					</h2>
				</li>
				<li class="icon fa-heart">
					<h2 class="card-format">
						<a asp-area="" asp-controller="Calculadora" asp-action="Hidrica">CALCULADORA HÍDRICA</a>
					</h2>
				</li>
				
			</ul>
			
		</div>
		
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h3>Hábitos Saudáveis <br />para uma Vida em Equilíbrio</h3>
				<p>Entre para obter dias personalizadas.</p>
			</header>
			<ul class="actions stacked">
				<li><a asp-controller="Admin" asp-action="Login" class="button fit primary">Conecte-se</a></li>
				<li><a asp-controller="Admin" asp-action="Contato" class="button fit">Contate-nos</a></li>
			</ul>
		</div>
	</section>	
</div>
