<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Habito Saudável</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/acessib/css/contraste.css">
    <link rel="stylesheet" type="text/css" href="~/acessib/css/acessib.css">
    <noscript>
        <link rel="stylesheet" href="~/assets/css/noscript.css" />
    </noscript>    
</head>

<body class="landing is-preload">
    
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle" aria-label="Barra de Navegação"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                                <li><a asp-area="" asp-controller="Admin" asp-action="Cadastro">Cadastro</a></li>
                                <li><a asp-area="" asp-controller="Admin" asp-action="login">Login</a></li>
                                <li><a asp-area="" asp-controller="Admin" asp-action="Contato">Contato</a></li>                                
                            </ul>
                        </div>
                    </li>
                </ul>

                <!--Barra Acessibilidade-->
                <div id="inst-bar">
                    <div class="container">
                        <ul id="accessibility" class="pull-left" align="left">

                            <li class="opt-icon opt-contrast">
                                <a href="#" accesskey="1" title="Mudar o contraste ALT+1">
                                    <i class="fa fa-adjust" opt-icon opt-contrast" id="altocontraste"
                                       onclick="window.toggleContrast()" onkeydown="window.toggleContrast()" ,="1"
                                       accesskey="1">☀</i>
                                    <!--<span>Contraste ALT+1</span>-->
                                </a>
                            </li>
                            <li class="opt-icon opt-increase-text">
                                <a href="#" accesskey="2" title="Diminuir o Tamanho do Texto ALT+2">
                                    <i class="fa fa-font" aria-hidden="true" name="decrease-font" id="decrease-font"
                                       accesskey="2">A-</i>
                                    <!--<span>Diminuir o texto ALT+2</span>-->
                                </a>
                            </li>
                            <li class="opt-icon opt-increase-text">
                                <a href="#" accesskey="3" title="Aumentar o Tamanho do Texto ALT+3">
                                    <i class="fa fa-font" aria-hidden="true" name="increase-font" id="increase-font"
                                       accesskey="3">A+</i>
                                    <!--<span>Aumentar o texto ALT+3</span>-->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                        <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">    
            
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">linkeIn</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Hábito Saudável</li>
                    <li><a a asp-controller="Home" asp-action="Index" class="button fit">Home</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script type="text/javascript" src="~/acessib/js/contraste.js"></script>
    <script type="text/javascript" src="~/acessib/js/cookie.js"></script>
    <script type="text/javascript" src="~/acessib/js/script.js"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget({
            rootPah: '/app',
            personalization: 'https://vlibras.gov.br/config/default_logo.json',
            opacity: 0.5,
            position: 'R',
            avatar: 'random',
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
