@{
    Layout = "_Layout_Receitas";
}
@{
	ViewData["Title"] = "Almoço";
}
<head>
    <link rel="stylesheet" type="text/css" media="all" href="~/dist/css/main.min.css">
</head>
<section class="container-fluid category-page" id="alimente-se-bem">
	<div class="container" id="top">

		<div class="title space-h-20">
			<h1 class="text-center text-orange">PARA O ALMOÇO</h1>
			<p class="space-h-20">
			<p>				
				Combinando os grupos de alimentos necessários para umas das principais refeições, opções de receitas para
				o almoço, sem esquecer do equilíbrio.
			</p>
		</div>
	</div>
	<div class="container" id="content">
		<ul class="category-recipes-list">

			<li class="text-center">
				<figure>
					<a href="para-compartilhar/lasanha-de-abobrinha-e-ricota">
						<!--<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/lasanha-de-abobrinha-e-ricota.jpg" alt="LASANHA DE ABOBRINHA E RICOTA"
							 title="LASANHA DE ABOBRINHA E RICOTA">-->
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>LASANHA DE ABOBRINHA E RICOTA</h2>
					<div class="recipe-info-content">
						<p></p>
						<p>Leve e super deliciosa, essa receita vai surpreender a todos!</p>
						<p></p>
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-compartilhar/lasanha-de-abobrinha-e-ricota">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-compartilhar/canelone-de-abobrinha-com-frango-desfiado">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/canelone-de-abobrinha-com-frango-desfiado.jpg" alt="CANELONE DE ABOBRINHA COM FRANGO DESFIADO"
							 title="CANELONE DE ABOBRINHA COM FRANGO DESFIADO">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>CANELONE DE ABOBRINHA COM FRANGO DESFIADO</h2>
					<div class="recipe-info-content">
						<p></p>
						<p>
							Substitua a massa do canelone por abobrinha e tenha uma receita mais leve e nutritiva que vai agradar a
							todos.
						</p>
						<p></p>
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-compartilhar/canelone-de-abobrinha-com-frango-desfiado">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-compartilhar/escondidinho-de-carne-desfiada-com-polenta">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/escondidinho-de-carne-desfiada-com-polenta.jpg" alt="ESCONDIDINHO DE CARNE DESFIADA COM POLENTA"
							 title="ESCONDIDINHO DE CARNE DESFIADA COM POLENTA">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>ESCONDIDINHO DE CARNE DESFIADA COM POLENTA</h2>
					<div class="recipe-info-content">
						<p></p>
						<p>Aquela receita prática, que é duas em uma e pode ser compartilhada com quem você ama.</p>
						<p></p>
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-compartilhar/escondidinho-de-carne-desfiada-com-polenta">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-compartilhar/charutinho-de-repolho">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/charutinho-de-repolho.jpg"
							 alt="CHARUTINHOS DE REPOLHO" title="CHARUTINHOS DE REPOLHO">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>CHARUTINHOS DE REPOLHO</h2>
					<div class="recipe-info-content">
						<p></p>
						<p>Uma receita leve e saborosa para compartilhar!</p>
						<p></p>
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more" href="para-compartilhar/charutinho-de-repolho">
						Leia
						Mais
					</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-compartilhar/lasanha-de-vegetais">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/lasanha-de-vegetais-1.jpg"
							 alt="LASANHA DE VEGETAIS" title="LASANHA DE VEGETAIS">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>LASANHA DE VEGETAIS</h2>
					<div class="recipe-info-content">
						<p></p>
						<p>Mais sabor e nutrientes em uma receita que agrada a todos.</p>
						<p></p>
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more" href="para-compartilhar/lasanha-de-vegetais">
						Leia
						Mais
					</a>
				</div>
			</li>
			
		</ul>

		<div class="text-center space-h-10">
			<div>
				<a class="button fit" asp-area="" asp-controller="Alimentacao" asp-action="Receitas"> VOLTAR</a>
			</div>
		</div>
	</div>
</section>
