
@{
    Layout = "_Layout_Receitas";
}
<head>
	<link rel="stylesheet" type="text/css" media="all" href="~/dist/css/main.min.css">
</head>
<section class="container-fluid category-page" id="alimente-se-bem">
	<div class="container" id="top">
		
		<div class="title space-h-20">
			<h1 class="text-center text-orange">PARA O JANTAR</h1>
			<p class="space-h-20">
			<p>
				Nem sempre temos tempo para preparar um jantar completo. Às vezes, queremos mesmo é comer algo
				diferente.<br />
				Combinando os grupos de alimentos necessários para essa refeição, o jantar tradicional pode dar
				lugar a uma receita mais leve, nutritiva e diferente. Aqui você encontra opções de receitas para
				o jantar, sem esquecer do equilíbrio.
			</p>			
		</div>
	</div>
	<div class="container" id="content">
		<ul class="category-recipes-list">

			<li class="text-center">
				<figure>
					<a href="para-o-jantar/crepioca-com-br%c3%b3colis-e-frango.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/crepioca-com-brocolis-e-frango.jpg"
							 alt="CREPIOCA COM BRÓCOLIS E FRANGO" title="CREPIOCA COM BRÓCOLIS E FRANGO">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>CREPIOCA COM BRÓCOLIS E FRANGO</h2>
					<div class="recipe-info-content">
						
						<p>
							Uma preparação deliciosa, reduzida em sódio, proteica e nutritiva que se encaixa
							perfeitamente em um jantar prático! 
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/crepioca-com-br%c3%b3colis-e-frango.html">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-o-jantar/batata-rosti-com-carne-moida-e-agriao.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/batata-rosti-com-carne-moida-e-agriao.jpg"
							 alt="BATATA ROSTI COM CARNE MOÍDA E AGRIÃO"
							 title="BATATA ROSTI COM CARNE MOÍDA E AGRIÃO">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>BATATA ROSTI COM CARNE MOÍDA E AGRIÃO</h2>
					<div class="recipe-info-content">
						
						<p>
							Prática e deliciosa, essa receita é perfeita para um jantar diferente rico em
							proteínas e com sódio reduzido.
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/batata-rosti-com-carne-moida-e-agriao.html">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-o-jantar/carne-louca-com-creme-de-cebola.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/carne-louca-com-creme-de-cebola.jpg"
							 alt="CARNE LOUCA COM CREME DE CEBOLA" title="CARNE LOUCA COM CREME DE CEBOLA">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>CARNE LOUCA COM CREME DE CEBOLA</h2>
					<div class="recipe-info-content">
						
						<p>
							Uma preparação deliciosa e perfeita para compor um sanduíche equilibrado no jantar!
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/carne-louca-com-creme-de-cebola.html">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-o-jantar/ceviche-de-salmão-com-maça-verde.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/ceviche-de-salmão-com-maca-verde.jpg"
							 alt="CEVICHE DE SALMÃO COM MAÇÃ VERDE" title="CEVICHE DE SALMÃO COM MAÇÃ VERDE">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>CEVICHE DE SALMÃO COM MAÇÃ VERDE</h2>
					<div class="recipe-info-content">
						
						<p>
							Esse ceviche colorido e refrescante é rico em nutrientes da maçã verde e do salmão!
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/ceviche-de-salmão-com-maça-verde.html">Leia Mais</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-o-jantar/frango-gratinado-com-creme-de-milho-e-br%c3%b3colis.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/frango-gratinado-com-creme-de-milho-e-brocolis.jpg"
							 alt="FRANGO GRATINADO COM CREME DE MILHO E BRÓCOLIS"
							 title="FRANGO GRATINADO COM CREME DE MILHO E BRÓCOLIS">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>FRANGO GRATINADO COM CREME DE MILHO E BRÓCOLIS</h2>
					<div class="recipe-info-content">
						
						<p>
							Um frango gratinado suculento com creme de milho, além do brócolis, que agregam cor,
							sabor e valor nutritivo ao prato.
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/frango-gratinado-com-creme-de-milho-e-br%c3%b3colis.html">
						Leia
						Mais
					</a>
				</div>
			</li>
			<li class="text-center">
				<figure>
					<a href="para-o-jantar/frango-com-legumes-a-moda-oriental.html">
						<img class="recipe-image"
							 src="~/dist/uploads/images/recipes/frango-com-legumes-a-moda-oriental.jpg"
							 alt="FRANGO COM LEGUMES À MODA ORIENTAL" title="FRANGO COM LEGUMES À MODA ORIENTAL">
					</a>
				</figure>
				<div class="recipe-info align-center">
					<h2>FRANGO COM LEGUMES À MODA ORIENTAL</h2>
					<div class="recipe-info-content">
						
						<p>
							Uma ótima combinação entre sabor e nutrição. Rica em proteínas e fonte de vitaminas e
							minerais, essa receita te surpreenderá com seu sabor. Experimente!
						</p>
						
					</div>
				</div>
				<div class="text-center btn-more-content">
					<a class="btn-more"
					   href="para-o-jantar/frango-com-legumes-a-moda-oriental.html">Leia Mais</a>
				</div>
			</li>
		</ul>

		<div class="text-center space-h-10">
			<div>
				<a class="button fit" asp-area="" asp-controller="Alimentacao" asp-action="Receitas"> VOLTAR</a>
			</div>
		</div>
	</div>
</section>
