
@{
    ViewData["Title"] = "Ganhar Massa";
}

<head>
    <link rel="stylesheet" href="~/exerc/css/crescer.css">
</head>

<div class="container ">

    <div id="tela01">
        <div class="exercicios">

            <div class="tituloCrescer">
                <h1>Ganhar Massa Muscular</h1>
                <div class="underline"></div>
               
            </div>

            <div class="textoInicio">
                <p class="texto">ATENÇÃO! procure respeitar seus limites para não se machucar</p>
                
            </div>      

            <br>   
                
           
            <div class="btn-nav-white" onclick="trocar()" >INICIO</div>
        </div>
    </div>
    
    <div id="alongamento" class="alongamento" style="display: none;">

        <div class="exercicios">

            <div class="tituloCrescer">
                <h1>Ganhar Massa Muscular</h1>
                <div class="underline"></div>
            </div>

            <p class="texto">Para começar, vamos iniciar uma série de alongamento para reduzir o risco de lesões.</p>

            <div class="alongamentos">
                <img src="~/exerc/gifs/alongamento-inclinacao-lateral-unscreen.gif" height="240px" alt="">
                <img src="~/exerc/gifs/alongamento-de-coluna-sentado-unscreen.gif" height="200px" alt="">
                <img src="~/exerc/gifs/alongamento-deitado-abracando--unscreen.gif" height="240px" alt="">
            </div>
            <br>

            <div class="btn-nav-white" onclick="trocarAlongamento()" >PRÓXIMO</div>
        </div>
    </div>
    
    <div id="tela02" class="tela02" style="display: none;">
        <div class="exercicios">

            <div class="tituloCrescer">
                <h1>Ganhar Massa Muscular</h1>
                <div class="underline"></div>
            </div>

            <div class="textoInicio">
                <p class="texto">Hora de finalmente começar com os exercícios. Preparado?</p>
            </div>
            <div class="textoInicio">
                <p class="texto">Para início dos exercícios, começaremos com Aeróbicos, escolha um ou outro.</p>
            </div>

            <div class="exercicios-01">
                <p>ESTEIRA:</p>
                <img src="~/exerc/gifs/esteira-unscreen.gif" style="height: 220px;" alt="">

                <div class="span">
                    <span>10-20 Minutos - Corrida Moderada</span>
                </div>
            </div>

            <div class="exercicios-02">
                <p>BICICLETA:</p>
                <img src="~/exerc/gifs/immersiva-spinning-unscreen.gif" style="height: 220px;" alt="">

                <div class="span">
                    <span>15-25 Minutos - Pedalada Moderada</span>
                </div>
            </div>

            <!-- <div class="exercicios-04">
                <p>BURPEE:</p>
                <img src="gifs/BURPEE-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>2 Séries de 12-15 Repetições</span>
                </div>
            </div>

            <div class="exercicios-03">
                <p>TENTE UMA CORRIDA:</p>
                <img src="gifs/running-running-away-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>15-25 Minutos</span>
                </div>
            </div> -->


            <div class="btn-nav-white" onclick="trocarDois()" >PRÓXIMO</div> <br>
        </div>
</div>
    
    <div id="tela03" class="tela03" style="display: none;">
        <div class="exercicios">

            <div class="tituloCrescer">
                <h1>Ganhar Massa Muscular</h1>
                <div class="underline"></div>
            </div>

            <div class="textoInicio">
                <p class="texto">Vamos para a próxima sequência de exercicios!</p>
                <p class="texto">Agora os exercicios serão direcionados para a região do peito e braços.</p>
            </div>

            <div class="exercicios-05">
                <p>SUPINO E VARIAÇÕES:</p>
                <img src="~/exerc/gifs/supino-reto-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>4 Séries de 10-12 Repetições</span>
                </div>

            </div>

            <div class="exercicios-05-1">
                <img src="~/exerc/gifs/supino-inclinado-com-barra-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>4 Séries de 10-12 Repetições</span>
                </div>
            </div>

            <div class="exercicios-06">
                <p>CRUCIFIXO:</p>
                <img src="~/exerc/gifs/com-gif-maker-1-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>4 Séries de 10-12 Repetições</span>
                </div>
            </div>

            <div class="exercicios-07">
                <p>ROSCA TRICEPS:</p>
                <img src="~/exerc/gifs/rosca-triceps-testa-deitado-no-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>3 Séries de 10-12 Repetições</span>
                </div>
            </div>

            <div class="exercicios-07-1">
                <p>ROSCA MARTELO:</p>
                <img src="~/exerc/gifs/Homem-No-Espelho-Flexao-de-bra-unscreen.gif" height="150px" alt="">

                <div class="span">
                    <span>4 Séries de 10-12 Repetições</span>
                </div>
            </div>

            <div class="btn-nav-white" onclick="trocarTres()" >PRÓXIMO</div> <br>

        </div>
</div>
    
    <div id="tela04" class="tela04" style="display: none;">
        <div class="exercicios">

            <div class="tituloCrescer">
                <h1>Crescer</h1>
                <div class="underline"></div>
            </div>

            <div class="textoInicio">
                <p class="texto">Vamos para a próxima sequência de exercicios!</p>
                <p class="texto">Agora os exercicios serão direcionados para a região do abdomên.</p>
                <p class="texto"><span style="color: green;">Dica: </span>Você pode ir mudando os exercícios nos dias que você faz!</p>
            </div>

            <!-- <div class="exercicios-08">
                <p>FULL V-UP:</p>
                <img src="gifs/vupfull-1472154765-unscreen.gif" height="240px" alt="">

                <div class="span">
                    <span>3 Séries de 6-10 Repetições</span>
                </div>
            </div> -->

            <div class="exercicios-08-1">
                <p>V-UP MODIFICADO:</p>
                <img src="~/exerc/gifs/vupmodifiedwithhands-147215523-unscreen.gif" height="240px" alt="">

                <div class="span">
                    <span>3 Séries de 15-20 Repetições</span>
                </div>
            </div>

            <div class="exercicios-09">
                <p>REVERSE CRUNCH WITH LEG EXTENSION:</p>
                <img src="~/exerc/gifs/man-doing-leg-raise-crunches-e-unscreen.gif" height="150px" alt="">

                <div class="span">
                    <span>3 Séries de 12-15 Repetições</span>
                </div>
            </div>

            <div class="exercicios-11">
                <p>ABDOMINAL BICICLETA:</p>
                <img src="~/exerc/gifs/abdomenbike-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>3 Séries de 15-20 Repetições</span>
                </div>
            </div>

            <div class="exercicios-10">
                <p>RUSSIAN TWIST:</p>
                <img src="~/exerc/gifs/russiantwistfeetraised-1472133-unscreen.gif" height="220px" alt="">

                <div class="span">
                    <span>3 Séries de 15-20 Repetições ou seja, 15 de cada lado</span>
                </div>
            </div>

            <div class="exercicios-12">
                <p>PRANCHA:</p>
                <img src="~/exerc/gifs/tempo-na-prancha-removebg-preview.png" height="150px" alt="">

                <div class="span">
                    <span>3 Séries de 2 minutos</span>
                </div>
            </div>

            <div class="exercicios-13">
                <p>PRANCHA LATERAL:</p>
                <img src="~/exerc/gifs/48631301-prancha-lateral-com-e-unscreen.gif" height="150px" alt="">

                <div class="span">
                    <span>2 Séries de 10-12 Repetições de cada lado</span>
                </div>
            </div>
            <a asp-controller="GuiaExercicios" asp-action="Crescer" class="btn-nav-white" onclick="fim()">TERMINAR</a>

            <!--<div class="btn-nav-white" onclick="fim()" >FINAL</div> <br>-->
        </div>
    </div>
</div>

<body>
    <script>

        var nome = sessionStorage.nome
        ola.innerHTML = `Olá ${nome}!`;

        function trocar() {
            tela01.style.display = 'none'
            alongamento.style.display = 'block'

        }

        function trocarAlongamento() {
            tela01.style.display = 'none'
            alongamento.style.display = 'none'
            tela02.style.display = 'block'

        }


        function trocarDois() {
            tela01.style.display = 'none'
            alongamento.style.display = 'none'
            tela02.style.display = 'none'
            tela03.style.display = 'block'
        }

        function trocarTres() {
            tela01.style.display = 'none'
            alongamento.style.display = 'none'
            tela02.style.display = 'none'
            tela03.style.display = 'none'
            tela04.style.display = 'block'
        }

        function fim() {
            tela01.style.display = 'none'
            alongamento.style.display = 'none'
            tela02.style.display = 'none'
            tela03.style.display = 'none'
            tela04.style.display = 'none'
            tela05.style.display = 'block'
        }


    </script>
</body>