@{
    Layout = "_layout";
}
<head>
    <link rel="stylesheet" href="~/exerc/css/crescer.css">
</head>

<div id="tela01">
    <div class="exercicios">

        <div class="tituloDefinir">
            <h1>Definir</h1>
            <div class="underline"></div>
        </div>

        <div class="textoInicio">
            <p class="texto">Antes de começarmos bem este Guia, você deve saber os limites do seu corpo, <span> não extrapole!</span></p>
        </div>

        <div class="alongamento">
            <p class="texto">Para começar, vamos iniciar uma série de alongamento para reduzir o risco de lesões.</p>
            <img src="~/exerc/gifs/alongamento-inclinacao-lateral-unscreen.gif" height="240px" alt="">
            <img src="~/exerc/gifs/alongamento-de-coluna-sentado-unscreen.gif" height="200px" alt="">
            <img src="~/exerc/gifs/alongamento-deitado-abracando--unscreen.gif" height="240px" alt="">
        </div>
        <br>
        <div class="btn-nav-white" onclick="trocar()">PRÓXIMO</div>



    </div>
</div>

<div id="tela02" class="tela02" style="display: none;">
    <div class="exercicios">

        <div class="tituloDefinir">
            <h1>Definir</h1>
            <div class="underline"></div>
        </div>

        <div class="textoInicio">
            <p class="texto">Hora de finalmente começar com os exercícios. Preparado?</p>
        </div>
        <div class="textoInicio">
            <p class="texto">Para início dos exercícios, começaremos com Aeróbicos.</p>
        </div>

        <div class="exercicios-01">
            <p>MOUTAIN CLIMBER:</p>
            <img src="~/exerc/gifs/mountainclimber-1472061303-unscreen.gif" style="height: 220px;" alt="">

            <div class="span">
                <span>2 Séries de 20-25 Repetições (Cada perna) ou 1 minuto - 1:30 minutos</span>
            </div>
        </div>

        <div class="exercicios-02">
            <p>HIGH STEPPING:</p>
            <img src="~/exerc/gifs/highkneerun-1457044203-unscreen.gif" style="height: 220px;" alt="">

            <div class="span">
                <span>2 Séries de 1 Minuto - 2 Minutos em uma maior velocidade</span>
            </div>
        </div>

        <div class="exercicios-04">
            <p>BURPEE:</p>
            <img src="~/exerc/gifs/BURPEE-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>2 Séries de 12-15 Repetições</span>
            </div>
        </div>

        <div class="exercicios-03">
            <p>TENTE UMA CORRIDA:</p>
            <img src="~/exerc/gifs/running-running-away-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>15-25 Minutos</span>
            </div>
        </div>


        <div class="btn-nav-white" onclick="trocarDois()" >PRÓXIMO</div> <br>
    </div>
</div>

<div id="tela03" class="tela03" style="display: none;">
    <div class="exercicios">

        <div class="tituloDefinir">
            <h1>Definir</h1>
            <div class="underline"></div>
        </div>

        <div class="textoInicio">
            <p class="texto">Vamos para a próxima sequência de exercicios!</p>
            <p class="texto">Agora os exercicios serão direcionados para a região do peito e braços.</p>
        </div>

        <div class="exercicios-05">
            <p>FLEXÃO TRADICIONAL:</p>
            <img src="~/exerc/gifs/FLEXÃO-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>4 Séries de 10-12 Repetições</span>
            </div>

        </div>

        <div class="exercicios-06">
            <p>FLEXÂO DECLINADA:</p>
            <img src="~/exerc/gifs/Decline-Pushups-vitalmente-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>3 Séries de 10-12 Repetições</span>
            </div>
        </div>

        <div class="exercicios-07">
            <p>FLEXÃO INCLINADO:</p>
            <img src="~/exerc/gifs/IdenticalAggressiveChihuahua-s-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>3 Séries de 10-12 Repetições</span>
            </div>
        </div>

        <div class="exercicios-07-1">
            <p>FLEXÃO DIAMANTE:</p>
            <img src="~/exerc/gifs/Homem-No-Espelho-Flexao-de-bra-unscreen.gif" height="150px" alt="">

            <div class="span">
                <span>3 Séries de 10-12 Repetições</span>
            </div>
        </div>

        <div class="btn-nav-white" onclick="trocarTres()" >PRÓXIMO</div> <br>

    </div>
</div>

<div id="tela04" class="tela04" style="display: none;">
    <div class="exercicios">

        <div class="tituloDefinir">
            <h1>Definir</h1>
            <div class="underline"></div>
        </div>

        <div class="textoInicio">
            <p class="texto">Vamos para a próxima sequência de exercicios!</p>
            <p class="texto">Agora os exercicios serão direcionados para a região do abdomên.</p>
            <p class="texto"><span style="color: green;">Dica: </span>Você pode ir mudando os exercícios nos dias que você faz!</p>
        </div>

        <div class="exercicios-08">
            <p>FULL V-UP:</p>
            <img src="~/exerc/gifs/vupfull-1472154765-unscreen.gif" height="240px" alt="">

            <div class="span">
                <span>3 Séries de 6-10 Repetições</span>
            </div>
        </div>

        <div class="exercicios-08-1">
            <p>V-UP MODIFICADO:</p>
            <img src="~/exerc/gifs/vupmodifiedwithhands-147215523-unscreen.gif" height="240px" alt="">

            <div class="span">
                <span>3 Séries de 12-20 Repetições</span>
            </div>
        </div>

        <div class="exercicios-09">
            <p>REVERSE CRUNCH WITH LEG EXTENSION:</p>
            <img src="~/exerc/gifs/man-doing-leg-raise-crunches-e-unscreen.gif" height="150px" alt="">

            <div class="span">
                <span>3 Séries de 10-15 Repetições</span>
            </div>
        </div>

        <div class="exercicios-11">
            <p>ABDOMINAL BICICLETA:</p>
            <img src="~/exerc/gifs/abdomenbike-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>3 Séries de 15-20 Repetições</span>
            </div>
        </div>

        <div class="exercicios-10">
            <p>RUSSIAN TWIST:</p>
            <img src="gifs/russiantwistfeetraised-1472133-unscreen.gif" height="220px" alt="">

            <div class="span">
                <span>3 Séries de 12-15 Repetições ou seja, 12 de cada lado</span>
            </div>
        </div>

        <div class="exercicios-12">
            <p>PRANCHA:</p>
            <img src="gifs/tempo-na-prancha-removebg-preview.png" height="150px" alt="">

            <div class="span">
                <span>2 Séries de 1:30 - 2 minutos</span>
            </div>
        </div>

        <div class="exercicios-13">
            <p>PRANCHA LATERAL:</p>
            <img src="gifs/48631301-prancha-lateral-com-e-unscreen.gif" height="150px" alt="">

            <div class="span">
                <span>2 Séries de 10-12 Repetições de cada lado</span>
            </div>
        </div>

        <div class="btn-nav-white" onclick="fim()" >FINAL</div> <br>
    </div>
</div>

<div id="tela05" class="tela05" style="display: none;">
    <div class="exercicios">

        <div class="tituloDefinir">
            <h1>Definir</h1>
            <div class="underline"></div>
        </div>

        <div class="textoInicio">
            <p class="texto">Este é o fim do Guia! Espero que tenha gostado!</p>
            <p class="texto">Não se esqueça que só o exercício não trará bons resultados, é necessário que uma boa alimentação acompanhe os treinos!</p>
            <div class="trocar">
                <p class="texto">Deseja trocar de treino?</p>
                <a asp-controller="GuiaExercicios" asp-action="Crescer" class="btn-nav-white" onclick="fim()">TROCAR</a>
            </div>
        </div>
    </div>
</div>

<body>
    <script src="~/exerc/js/definir.js"></script>
</body>