@{
    Layout = "_layout_calculadora";
}
@{
    ViewData["Title"] = "FAT";
}

<main>
    <section id="fatAtv" class="containerSection">

        <div class="containerText">
            <h1>O que é FAT ?</h1>
            <p>
                O Fator Atividade (FAT), é o cálculo realizado para avaliar a <strong>
                    intensidade e duração dos
                    exercícios
                </strong> que cada pessoa realiza durante o dia, ou seja, uma pessoa que realiza um
                percurso caminhando tem uma intensidade menor do que a pessoa que está correndo.
            <p>
                Portanto, conhecer como você realiza suas atividades durante o dia é <strong>
                    muito
                    importante
                </strong>, pois esse resultado influência de forma significativa em sua
                <strong>dieta</strong>, já que o cálculo é baseado em todas atividades realizadas durante o dia
            </p>
            
        </div>

        <div class="containerCalc">
            <h2>Calcule seu FAT</h2>
            <h4>Fator de Atividade utilizado para o Cálculo: FAO,1985</h4>

            <div>
                <h3>Atividade Física</h3>
                <input type="text" id="nameAtf" placeholder="Ex: Correr, Treinar, Dormir">
            </div>

            <div>
                <h3>Quantas Horas</h3>
                <input type="number" id="timeAtf" step="0.01" placeholder="Ex: 8, 1.5(1h:30m)">
            </div>

            <div>
                <h3>Intensidade</h3>
                <select id="intenseAtf">
                    <option selected value=1>Repouso (Dormir)</option>
                    <option value=1.5>Muito Leve (Caminhada)</option>
                    <option value=2.5>Leve (Corrida)</option>
                    <option value=5>Moderada (Treino)</option>
                    <option value=7>Intensa (Treino de Atleta)</option>
                </select>
            </div>

            <button onclick="addItemList()">Adicionar a Lista</button>

            <div id="tableErro"></div>

            <table id="tableAtf">
                <tr>
                    <th>Atividade Física</th>
                    <th>Horas Gasta</th>
                    <th>Intensidade</th>
                    <th></th>
                </tr>
            </table>

            <button class="button fit" onclick="calcFat()">Calcular</button>

            <div id="resultAtf" class="resultCalcs">
                <!-- Cálculo Inserido pelo JavaScript -->
            </div>

        </div>

    </section>
</main>
