@{
}
<!-- Page Wrapper -->
<div id="page-wrapper">
	
	<!-- Main -->
	<article id="main">
		<header>
			<h2>Contate-nos</h2>
			<p>Fale com a gente, dúvidas, ajuda, estamos a disposição para melhor atende-los.</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">
				
				<section>
					<h4>Contate-nos</h4>
					<form method="post" action="#">
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall">
								<label for="demo-name">Seu nome</label>
								<input type="text" name="demo-name" id="demo-name" value="" placeholder="Nome" />
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="demo-email">Seu email</label>
								<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
							</div>
							<div class="col-12">
								<label for="demo-category">Assunto da mensagem</label>
								<select name="demo-category" id="demo-category">
									<option value="">- Assunto -</option>
									<option value="1">Dúvidas</option>
									<option value="1">Sugestões</option>
									<option value="1">Reclamações</option>
									<option value="1">Ajuda</option>
								</select>
							</div>
							<!--<div class="col-4 col-12-small">
								<input type="radio" id="demo-priority-low" name="demo-priority" checked>
								<label for="demo-priority-low">Low</label>
							</div>
							<div class="col-4 col-12-small">
								<input type="radio" id="demo-priority-normal" name="demo-priority">
								<label for="demo-priority-normal">Normal</label>
							</div>
							<div class="col-4 col-12-small">
								<input type="radio" id="demo-priority-high" name="demo-priority">
								<label for="demo-priority-high">High</label>
							</div>-->
							
							
							<div class="col-12">
								<label for="demo-menssage">Corpo da mensagem</label>
								<textarea name="demo-message" id="demo-message" placeholder="Digite sua mensagem" rows="6"></textarea>
							</div>							
							<div class="col-12">
								<ul class="actions">
									<li>										
										<input type="submit" value="Enviar" class="primary" />
										<label for="Enviar">Enviar mensagem</label>
									</li>

									<li>
										<input type="reset" value="Limpar" />
										<label for="Limpar">Limpar formulário</label>										
									</li>

									<li>
										<input type="checkbox" id="demo-copy" name="demo-copy">
										<label for="demo-copy">Receber Protocolo por e-mail</label>
									</li>

								</ul>
							</div>
						</div>
					</form>
				</section>	
			</div>
		</section>
	</article>
</div>